.botonCarrito {
    text-align: center;
    display: flex;
    background-color: beige;
    border: 1px solid black;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
}

.left {
    align-items: flex-start;
    border: 1px solid beige; 
    margin-right: auto;
    background-color: beige;
    color: black;
}

.right {
   align-items: flex-end;
    border: 1px solid beige;
    margin-left: auto;
    background-color: beige;
    color: black;
}

.Total {
    align-items: center;
    background-color: beige;
    width: 100%;
    border: 1px solid beige; 
        color: black;


}

.Reiniciar {
    background-color: beige;
    border: 1px solid black;
    align-items: center;
    width: 100%;
    text-align: center;
    flex-direction: row-reverse;
}